.title my first com
.name
  //- 模板中使用图片资源,使用require即可,webpack.config.ts同时指定file-loader
  //- 对他们进行处理
  img(src=require('../../assets/person.jpg'))
  span name:
  span {{$ctrl.person.name}}
.gold
  img(src=require("../../assets/gold.jpg"))
  span gold:
  span {{$ctrl.person.gold}}
  button(ng-click='$ctrl.changeGold(1)') +
  button(ng-click='$ctrl.changeGold(-1)') -
.attack
  img(src=require('../../assets/attack.jpg'))
  span attack:
  span {{$ctrl.person.attack}}
  button(ng-click='$ctrl.changeAttack(1)') +
  button(ng-click='$ctrl.changeAttack(-1)') -
.armor
  img(src=require('../../assets/armor.jpg'))
  span armor:
  span {{$ctrl.person.armor}}
  button(ng-click='$ctrl.changeArmor(1)') +
  button(ng-click='$ctrl.changeArmor(-1)') -

include ./partial


img(src=require('../../assets/nodes-footer-media.svg'))
